
<!-- Remove the container if you want to extend the Footer to full width. -->
<div class=" my-5">

  <section class="">
  <!-- Footer -->
  <footer class="text-center text-black" >
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: CTA -->
      {# <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">Register for free</span>
          <button type="button" class="btn btn-outline-light btn-rounded">
            Sign up!
          </button>
        </p>
      </section> #}
      <!-- Section: CTA -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3">
      
      <a class="" href="https://locallyknown.pro/">Copyright {{"now"|date('Y')}} Locally Known Pros</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>
  
</div>