

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper">

		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">
				<div class="container">
					<div class="row justify-content-center gutter-50 col-mb-50">

						<div class="col-lg-8">
							<div class="card imagescalein">
								<div class="row g-0 align-items-center">
								    <div class="col-md-4 d-flex align-self-stretch overflow-hidden">
								    	<img src="/src/scss/images/blocks/preview/card-3/1.jpg" class="rounded-start" alt="...">
								    </div>
								    <div class="col-md-8 p-4">
										<div class="card-body">
											<h3 class="card-title">Card Title</h3>
											<p class="card-text mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores unde earum blanditiis voluptatum, maiores aspernatur ab repudiandae, et nisi culpa.</p>
											<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
											<a href="#" class="btn btn-primary">Learn More</a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="clear"></div>

						<div class="col-lg-8">
							<div class="card imagescalein">
								<div class="row g-0 align-items-center">
								    <div class="col-md-8 p-4">
										<div class="card-body">
											<h3 class="card-title">Card Title</h3>
											<p class="card-text mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores unde earum blanditiis voluptatum, maiores aspernatur ab repudiandae, et nisi culpa.</p>
											<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
											<a href="#" class="btn btn-primary">Learn More</a>
										</div>
									</div>
									<div class="col-md-4 d-flex align-self-stretch overflow-hidden">
								    	<img src="images/blocks/preview/card-3/1.jpg" class="rounded-end" alt="...">
								    </div>
								</div>
							</div>
						</div>

						<div class="clear"></div>

						<div class="col-lg-8">
							<div class="card border-0 bg-dark dark imagescale h-shadow-sm shadow-ts">
								<div class="row g-0 align-items-center">
								    <div class="col-md-4 d-flex align-self-stretch overflow-hidden">
								    	<img src="images/blocks/preview/card-3/1.jpg" class="rounded-start" alt="...">
								    </div>
								    <div class="col-md-8 p-4">
										<div class="card-body">
											<h3 class="card-title">Card Title</h3>
											<p class="card-text mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores unde earum blanditiis voluptatum, maiores aspernatur ab repudiandae, et nisi culpa.</p>
											<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
											<a href="#" class="btn btn-primary">Learn More</a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="clear"></div>

						<div class="col-lg-8">
							<div class="card border-default bg-light imagescale h-shadow-sm shadow-ts">
								<div class="row g-0 align-items-center">
								    <div class="col-md-8 p-4">
										<div class="card-body">
											<h3 class="card-title">Card Title</h3>
											<p class="card-text mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores unde earum blanditiis voluptatum, maiores aspernatur ab repudiandae, et nisi culpa.</p>
											<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
											<a href="#" class="btn btn-primary">Learn More</a>
										</div>
									</div>
									<div class="col-md-4 d-flex align-self-stretch overflow-hidden">
								    	<img src="images/blocks/preview/card-3/1.jpg" class="rounded-end" alt="...">
								    </div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section><!-- #content end -->


	</div><!-- #wrapper end -->

	